doctype html
html
  head
    title Pick Your Own API
    link(rel='shortcut icon' href='images/favicon.ico' type='image/x-icon')
    link(rel='stylesheet' type='text/css' href='./stylesheets/styles2.css')
    block scripts
  body
    block content
