extends layout2.pug
//- Frank Luo
//- 
    User is able to guess a U.S. President while presented with a randomly generated photo of a U.S. President. 
    Program will let the user know if they are correct or not. Pug works with JavaScript. 
//- 
    Sources Used:
    https://www.w3schools.com/tags/att_input_type_text.asp
    https://www.w3schools.com/tags/tag_button.asp
    https://pugjs.org/api/getting-started.html 
    https://www.sitepoint.com/a-beginners-guide-to-pug/
    https://html-to-pug.com


block content

  h1 Guess the US President
  p
    | Who is the 
    span#president
    | th President?
  img#photo(src='images/image.png' alt='placeholder before actual photo')
  input#input(type='text' placeholder='Enter full name')
  button(onclick='updatePresident()') Submit
  #result

block scripts 
  script(src='/javascripts/presidents.js')